 html{
	height: 100%;
	margin: 0;
	text-align: left;
}

body {
	font-family: Trebuchet MS, sans-serif, Helvetica;
	font-size: 15px;
	color: #444;
	margin: 0px;
	padding: 0px;
}

.header {
		  overflow: hidden;
		  background-color: #f1f1f1;
		  padding: 20px 10px;
		}
		

		.header a {
		  float: left;
		  color: black;
		  text-align: center;
		  padding: 12px;
		  text-decoration: none;
		  font-size: 18px;
		  line-height: 25px;
		  border-radius: 4px;
		}

		/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
		.header a.logo {
		  font-size: 25px;
		  font-weight: bold;
		}

		/* Change the background color on mouse-over */
		.header a:hover {
		  background-color: #ddd;
		  color: black;
		}

		/* Style the active/current link*/
		.header a.active {
		  background-color: dodgerblue;
		  color: white;
		}

		/* Float the link section to the right */
		.header-right {
		  float: right;
		}

		/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
		@media screen and (max-width: 500px) {
		  .header a {
			float: none;
			display: block;
			text-align: left;
		  }
		  .header-right {
			float: none;
		  }
		}

h1	{
	font-size: 25px;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}
h2	{
	font-size: 20px;
	color: white;
}

h2b	{
	font-size: 17px;
	font-weight: bold;
	color: white;
}
h3	{
	font-size: 16px;
	font-weight: bold;
	line-height: 5%;
	color: white;
}
hr	{
	height: 1px;
	border: 0;
	margin: 0px;
	color: #ddd;
	background-color: #ddd;
}

p2 {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  color: white;
  text-align:left;
}


.boxed {
  float:left; 
  border: 1px solid green ;
  background-color: green;
  width: 40px;
  padding: 3px;
  font-size: 15px;
  border-radius: 2px;
}

.boxed2 {
   float:left; 
  width: 50px;
  padding: 5px;
}

.boxed3 {
  float:left; 
  width: 450px;
  margin:5px;
  padding: 5px;
  background-color: #202020;
  color: white;
  font: sans-serif;
}


code {
  white-space: pre;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 40%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  padding-top: 20px
  
}

.split2 {
  height: 100%;
  width: 60%;
  position: absolute;
  z-index: 1;
  overflow-y: hidden;
  padding-top: 20px
  
}


/* Control the right side */
.right {
  right: 0;
  background-color: #27333f;
  display: inline;
}


.top {
  position: relative;
  text-align: center;
  left: 21px;
  display: inline-block;
}

.align-c {
  position: relative;
  padding: 0px;
  padding-left: 20px;
  padding-bottom:15px;
  margin-bottom:15px;
  text-align: left;
  display: inline-block;
  overflow: visible;
  
}

.container {
  position: relative;
  margin-bottom:15px;
  margin:0px;
  padding:0px;
  text-align: left;
  display: block;
  border-bottom-style: dotted;
  height: 1100px;
  background-attachment: white;
  word-wrap: break-word;
  
}

/* If you want the content centered horizontally and vertically */
.left {
  left: 0;
  background-color: white;
  padding-left: 15px;
  word-wrap: break-word;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #161616;
  color: white;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 490px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 470px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  margin-bottom:4px;
  margin:4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  font-size: 13px;
}

/* Style the tab */
.tab {
  background-color: transparent;
  overflow: hidden;
  width:470px;
  margin: 0px;
  margin-top:0px;
  display: inline-block;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #161616;
  border: none;
  color: white;
  padding: 8px 10px;
  margin-bottom:4px;
  margin:4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: #161616;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ddd;
  color: #161616;
}

/* Style the tab content */
.tabcontent {
  color: #ccc;
  overflow: scroll;
  display: none;
  margin-top: 2px;
  padding: 6px 12px;
  border-top: none;
  background-color: #161616;
  text-align: left;
  text-decoration: none;
  width:470px;
  margin-bottom: 0px;
}

.tabcontent.show {
	display: block;
}

.tabcontent2 {
  color: #ccc;
  overflow: scroll;
  display: none;
  margin-top: 2px;
  padding: 6px 12px;
  border-top: none;
  background-color: #161616;
  text-align: left;
  text-decoration: none;
  width:470px;
  margin-bottom: 0px;
}

.tabcontent2.show {
	display: block;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 95%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\003E';
  color: #ccc;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}


.collapsible:active:after {
  content: '\02C5';
}

.content {
  position: relative;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.collapsible2 {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 95%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.collapsible2:active, .collapsible2:hover {
  background-color: #555;
}

.collapsible2:after {
  content: '\003E';
  color: #ccc;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}



ul {
  list-style-type: "\2023";
  list-style-position: inside;
  padding: 0px;
}



li span {
  position: relative;
  left: 10px;
}