<!doctype html>
<html>
  <head>
    <title>Customer Info Predictor</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style2.css') }}">
  </head>
  <body>
  <!-- Website Title -->
	<div class="header">
		  <a href="#default" class="logo">Race Prediction</a>
		  <div class="header-right">
			<a href="/">Home</a>
			<a href="https://github.com/joeechua/RacePrediction">GitHub Repo</a>
			<a class="active" href="/api">API Explanation</a>
		  </div>
	</div>
		
	<div class="container" style="height: 200px;">
		<div class="split2 left">
			<h1>Introduction</h1>
			<p>Welcome to Race-Predictor! You can use this API to access all API endpoints, which can predict someone's race given their name.
			We have language bindings in Php, Python, NodeJs, Javascript, Curl and Ruby! You can view code 
			examples in the dark area to the right, and you can switch the programming language of 
			the examples with the tabs in the top right.</p>
		</div>
		<div class="split right">
		</div>
	</div>
		
	<div class="container"  style="text-align: left;">
		<div class="split2 left">
		  <div class="centered">
			<hr>
			<h1>Race</h1>
			<p>Get the list of available outcomes for prediction endpoint.
			<div class="boxed3" style="margin:0; padding:5px; color:black; background-color:#eee;">This endpoint does not require any parameters.</div><br><br><br>
			Update Frequency : This endpoint contains all the races used in prediction, it is not updated.<br>
			Recommended Calls : 1 call when you need.</p>
		  </div><br>
		  <h3 style="color:#bbb;">PATH PARAMTERS</h3>
		  <hr><br>
		  <div class="boxed3" style="margin:0; padding:5px; color:black; background-color:#eee;">This endpoint does not require any parameters.</div><br><br><br>
		  <h3 style="color:#bbb;">QUERY PARAMTERS</h3>
		  <hr><br>
		  <div class="boxed3" style="margin:0; padding:5px; color:black; background-color:#eee;">This endpoint does not require any parameters.</div><br><br><br>
		  <h3 style="color:#bbb;">HEADER PARAMTERS</h3>
		  <hr><br>
		  <div class="boxed3" style="margin:0; padding:5px; color:black; background-color:#eee;">This endpoint does not require any parameters.</div><br><br><br>
		  <h2 style="color: black;">Responses</h2>
		  <button class="collapsible" style="background-color:rgb(152,251,152, 0.2); color: green;"><b>200</b></button>
			<div class="content">
				<h3 style="color: #bbb">RESPONSE SCHEMA</h3>
				<hr>
				<ul>
				  <li><span><code>get</code></span></li>
				  <li><span>
						<button class="collapsible" style="background-color:transparent; color:black;padding:0px; margin:0px;"><code>parameters</code></button>
						<div class="content">
							<div class="boxed3" style="background-color: #eee;">
								<h3 style="color: black;"><code>Array () [field]</code></h3>
							</div>
						</div>
				  </span></li>
				  <li><span>
						<button class="collapsible" style="background-color:transparent; color:black; padding:0px; margin:0px;"><code>errors</code></button>
						<div class="content">
							<div class="boxed3" style="background-color: #eee;">
								<h3 style="color: black;"><code>Array () [field]</code></h3>
							</div>
						</div>
				  </span></li>
				  <li><span><code>results</code></span></li>
				  <li><span><button class="collapsible" style="background-color:transparent; color:black;padding:0px; margin:0px;"><code>response </code></button></span></li>
				</ul>
			</div>
			<button class="collapsible" style="background-color:rgb(152,251,152, 0.2); color: green;"><b>204</b></button>
			<div class="content">
				<h3 style="color: #bbb">RESPONSE SCHEMA</h3>
				<hr>
				<ul>
				  <li><span><code>get</code></span></li>
				  <li><span>
						<button class="collapsible" style="background-color:transparent; color:black;padding:0px; margin:0px;"><code>parameters</code></button>
						<div class="content">
							<div class="boxed3" style="background-color: #eee;">
								<h3 style="color: black;"><code>Array () [field]</code></h3>
							</div>
						</div>
				  </span></li>
				  <li><span>
						<button class="collapsible" style="background-color:transparent; color:black; padding:0px; margin:0px;"><code>errors</code></button>
						<div class="content">
							<div class="boxed3" style="background-color: #eee;">
								<h3 style="color: black;"><code>Array () [field]</code></h3>
							</div>
						</div>
				  </span></li>
				  <li><span><code>results</code></span></li>
				  <li><span><button class="collapsible" style="background-color:transparent; color:black;padding:0px; margin:0px;"><code>response </code></button></span></li>
				</ul>
			</div>
			<button class="collapsible" style="background-color:rgba(255, 0, 0, 0.1); color: red;"><b>405</b></button>
			<div class="content">
				<h3 style="color: #bbb">RESPONSE SCHEMA</h3>
				<hr>
				<div class="boxed2" style="height: 20px; width:100px;"><code>message</code></div>
				<div class="boxed2" style="height: 20px; width:250px;"><h3 style="color:black;padding:0; margin:12px;">string</h3><hr></div><br><br><br>
		  
			</div>
			<button class="collapsible" style="background-color:rgba(255, 0, 0, 0.1); color:red;"><b>500</b></button>
			<div class="content">
				<h3 style="color: #bbb">RESPONSE SCHEMA</h3>
				<hr>
				<div class="boxed2" style="height: 20px; width:100px;"><code>message</code></div>
				<div class="boxed2" style="height: 20px; width:250px;"><h3 style="color:black;padding:0; margin:12px;">string</h3><hr></div><br><br><br>
			</div>
			<script>
			var coll = document.getElementsByClassName("collapsible");
			var i;

			for (i = 0; i < coll.length; i++) {
			  coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.maxHeight){
				  content.style.maxHeight = null;
				} else {
				  content.style.maxHeight = content.scrollHeight + "px";
				} 
			  });
			}
			</script>
		</div>
		<div class="split right">
		  <hr>
		  <div class="top">
			<div class="dropdown" style="text-align: left">
			  <button onclick="myFunction()" class="dropbtn">
							<div class="boxed"><b>GET</b></div>
							<div class="boxed2"><code>/api/race</code></div>
			  </button>
			  <div id="myDropdown" class="dropdown-content">
				<a href="#home">Heroku APP<br><div class="boxed3" style="width:300px;"><code>https://race-prediction.herokuapp/api/race</code></div></a>
			  </div>
			</div>

			<script>
			/* When the user clicks on the button, 
			toggle between hiding and showing the dropdown content */
			function myFunction() {
			  document.getElementById("myDropdown").classList.toggle("show");
			}

			// Close the dropdown if the user clicks outside of it
			window.onclick = function(event) {
			  if (!event.target.matches('.dropbtn')) {
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
				  var openDropdown = dropdowns[i];
				  if (openDropdown.classList.contains('show')) {
					openDropdown.classList.remove('show');
				  }
				}
			  }
			}
			</script>
		  </div>
		<!-- Tab links -->
		  
		  <div class="align-c" style="display: inline-block">
			<p2><b>Request Samples</b></p2>
			<div class="tab" style="text-align: left">
			  <button class="tablinks" onclick="openCode(event, 'php')" id="defaultOpen">Php</button>
			  <button class="tablinks" onclick="openCode(event, 'python')">Python</button>
			  <button class="tablinks" onclick="openCode(event, 'node')">Node</button>
			  <button class="tablinks" onclick="openCode(event, 'js')">JavaScript</button>
			  <button class="tablinks" onclick="openCode(event, 'curl')">Curl</button>
			  <button class="tablinks" onclick="openCode(event, 'ruby')">Ruby</button>
			  <button class="tablinks" onclick="openCode(event, 'use')">Use Cases</button>
			</div>

			<!-- Tab content -->
			<div id="php" class="tabcontent php">
			  <code>$url = 'https://race-prediction.herokuapp/api/race';
$request_url = $url;
$curl = curl_init($request_url);
curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
curl_setopt($curl, CURLOPT_HTTPHEADER, [
  'Content-Type: application/json'
]);
$response = curl_exec($curl);
curl_close($curl);
echo $response . PHP_EOL;</code>
			</div>

			<div id="python" class="tabcontent python">
			  <code>import http.client

	conn = http.client.HTTPSConnection("v3.football.api-sports.io")

	headers = {
		'x-rapidapi-host': "v3.football.api-sports.io",
		'x-rapidapi-key': "XxXxXxXxXxXxXxXxXxXxXxXx"
		}

	conn.request("GET", "/standings?league=39&season=2019", headers=headers)

	res = conn.getresponse()
	data = res.read()

	print(data.decode("utf-8"))</code>
			</div>

			<div id="node" class="tabcontent node">
			  <code>vconst https = require('https');

https.get('https://race-prediction.herokuapp/api/race', (resp) => {
  let data = '';

  // A chunk of data has been received.
  resp.on('data', (chunk) => {
    data += chunk;
  });

  // The whole response has been received. Print out the result.
  resp.on('end', () => {
    console.log(JSON.parse(data).explanation);
  });

}).on("error", (err) => {
  console.log("Error: " + err.message);
});</code>
			</div>
			
			<div id="js" class="tabcontent js">
			  <code>// Create a request variable and assign a new XMLHttpRequest object to it.
var request = new XMLHttpRequest()

// Open a new connection, using the GET request on the URL endpoint
request.open('GET', 'https://ghibliapi.herokuapp.com/films', true)

request.onload = function () {
// Begin accessing JSON data here
var data = JSON.parse(this.response)

console.log(data)
}

// Send request
request.send()</code>
			</div>
			
			<div id="curl" class="tabcontent curl">
			  <code>curl --request GET \
		--url 'https://race-prediction.herokuapp/api/race'</code>
			</div>
			
			<div id="ruby" class="tabcontent ruby">
			  <code>require 'net/http'
require 'json'

url = 'https://race-prediction.herokuapp/api/race'
uri = URI(url)
response = Net::HTTP.get(uri)
JSON.parse(response)</code>
			</div>
			
			<div id="use" class="tabcontent use">
			  <code>// Get possible outcomes of race prediction
get("https://race-prediction.herokuapp/api/race");</code>
			</div>
		</div>
			
			
		  <div class="align-c">
			<p2><b>Response samples</b></p2>
			<div class="tab" style="margin-top: 0px; text-align:left;">
				<button class="tablinks" onclick="openCode2(event, '200')" style="color:green" id="defaultOpen2">200</button>
				<button class="tablinks" onclick="openCode2(event, '204')" style="color:green">204</button>
				<button class="tablinks" onclick="openCode2(event, '405')" style="color:red">405</button>
				<button class="tablinks" onclick="openCode2(event, '500')" style="color:red">500</button>
			</div>
				
			<div id="200" class="tabcontent2 200">
					<div class="boxed3"><code>application/json</code></div><br></br>
					<code>{'races': 'response'}</code>
			</div>
			<div id="405" class="tabcontent2 405">
				<div class="boxed3"><code>application/json</code></div><br></br>
					<code>{'message': 'method not allowed'}</code>
			</div>
			<div id="204" class="tabcontent2 204">
				<div class="boxed3"><code>application/json</code></div><br></br>
					<code>{'message':'empty message'}</code>
			</div>
			<div id="500" class="tabcontent2 500">
				<div class="boxed3"><code>application/json</code></div><br></br>
					<code>{'message': 'INTERNAL SERVER ERROR'}</code>
			</div>		  
		  </div>
		</div>	
	</div>	
			
	<div class="container" style="text-align: left">
		<div class="split2 left">
		    <hr>
				 <div class="centered">
					<h1>Predict Race</h1>
					<p>Get the predicted race of entered name.
					<div class="boxed3" style="margin:0; padding:5px; color:black; background-color:#eee;">Examples available in Request samples "Use Cases".</div><br><br><br>
				Update Frequency : This endpoint is constantly upgrading, updated periodically.<br>
				Recommended Calls : 1 per day</p>
				 </div><br>
				<h3 style="color:#bbb;">HEADER PARAMTERS</h3>
				  <hr><br>
				  <div class="boxed3" style="margin:0; padding:5px; color:black; background-color:#eee;">This endpoint does not require any parameters.</div><br><br><br>
				<h3 style="color:#bbb;">QUERY PARAMTERS</h3>
				<hr><br>
				<div class="boxed2" style="height: 50px; width:150px;"><code>name</code><code style="color: red;"><br>required</code></div>
				<div class="boxed2" style="height: 50px; width:450px;"><h3 style="color:black;font-weight:1px;padding-bottom:0">string</h3>Prediction name<hr></div><br><br><br><br>
				<br><h3 style="color:#bbb;">HEADER PARAMTERS</h3>
				<hr><br>
				<div class="boxed3" style="margin:0; padding:5px; color:black; background-color:#eee;">This endpoint does not require any parameters.</div><br><br><br>
				<h2 style="color: black;">Responses</h2>
				<button class="collapsible2" style="background-color:rgb(152,251,152, 0.2); color: green;"><b>200</b></button>
					<div class="content">
						<h3 style="color: #bbb">RESPONSE SCHEMA</h3>
						<hr>
						<ul>
						  <li><span><code>get</code></span></li>
						  <li><span>
								<button class="collapsible2" style="background-color:transparent; color:black;padding:0px; margin:0px;"><code>parameters</code></button>
								<div class="content">
									<div class="boxed3" style="background-color: #eee;">
										<h3 style="color: black;"><code>Array () [field]</code></h3>
									</div>
								</div>
						  </span></li>
						  <li><span>
								<button class="collapsible2" style="background-color:transparent; color:black; padding:0px; margin:0px;"><code>errors</code></button>
								<div class="content">
									<div class="boxed3" style="background-color: #eee;">
										<h3 style="color: black;"><code>Array () [field]</code></h3>
									</div>
								</div>
						  </span></li>
						  <li><span><code>results</code></span></li>
						  <li><span><button class="collapsible2" style="background-color:transparent; color:black;padding:0px; margin:0px;"><code>response </code></button></span></li>
						</ul>
					</div>
				<button class="collapsible2" style="background-color:rgb(152,251,152, 0.2); color: green;"><b>204</b></button>
				<div class="content">
					<h3 style="color: #bbb">RESPONSE SCHEMA</h3>
					<hr>
					<ul>
					  <li><span><code>get</code></span></li>
					  <li><span>
							<button class="collapsible2" style="background-color:transparent; color:black;padding:0px; margin:0px;"><code>parameters</code></button>
							<div class="content">
								<div class="boxed3" style="background-color: #eee;">
									<h3 style="color: black;"><code>Array () [field]</code></h3>
								</div>
							</div>
					  </span></li>
					  <li><span>
							<button class="collapsible2" style="background-color:transparent; color:black; padding:0px; margin:0px;"><code>errors</code></button>
							<div class="content">
								<div class="boxed3" style="background-color: #eee;">
									<h3 style="color: black;"><code>Array () [field]</code></h3>
								</div>
							</div>
					  </span></li>
					  <li><span><code>results</code></span></li>
					  <li><span><button class="collapsible2" style="background-color:transparent; color:black;padding:0px; margin:0px;"><code>response </code></button></span></li>
					</ul>
			</div>
				<button class="collapsible2" style="background-color:rgba(255, 0, 0, 0.1); color: red;"><b>405</b></button>
				<div class="content">
					<h3 style="color: #bbb">RESPONSE SCHEMA</h3>
					<hr>
					<div class="boxed2" style="height: 20px; width:100px;"><code>message</code></div>
					<div class="boxed2" style="height: 20px; width:250px;"><h3 style="color:black;padding:0; margin:12px;">string</h3><hr></div><br><br><br>
				</div>
				<button class="collapsible2" style="background-color:rgba(255, 0, 0, 0.1); color: red;"><b>500</b></button>
				<div class="content">
					<h3 style="color: #bbb">RESPONSE SCHEMA</h3>
					<hr>
					<div class="boxed2" style="height: 20px; width:100px;"><code>message</code></div>
					<div class="boxed2" style="height: 20px; width:250px;"><h3 style="color:black;padding:0; margin:12px;">string</h3><hr></div><br><br><br>
				</div>
			  
			  <script>
				var coll = document.getElementsByClassName("collapsible2");
				var i;

				for (i = 0; i < coll.length; i++) {
				  coll[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var content = this.nextElementSibling;
					if (content.style.maxHeight){
					  content.style.maxHeight = null;
					} else {
					  content.style.maxHeight = content.scrollHeight + "px";
					} 
				  });
				}
			</script>
		  </div>
		<div class="split right">
		<hr>
			<div class="align-t">
				<div class="top">
					<div class="dropdown">
						<button class="dropbtn">
						<div class="boxed"><b>GET</b></div>
						<div class="boxed2"><code>/api/race/{name}</code></div>
						</button>
						<div class="dropdown-content">
							<a href="#">Link 1</a>
						 </div>
					</div>
					<p2><b>Request Samples</b></p2>
				</div>
			</div>	
			<!-- Tab links -->		  
			<div class="align-c" style="display: inline-block; text-align: left">
				<div class="tab" style="text-align: left">
				  <button class="tablinks" onclick="openCode(event, 'php')" id="defaultOpen">Php</button>
				  <button class="tablinks" onclick="openCode(event, 'python')">Python</button>
				  <button class="tablinks" onclick="openCode(event, 'node')">Node</button>
				  <button class="tablinks" onclick="openCode(event, 'js')">JavaScript</button>
				  <button class="tablinks" onclick="openCode(event, 'curl')">Curl</button>
				  <button class="tablinks" onclick="openCode(event, 'ruby')">Ruby</button>
				  <button class="tablinks" onclick="openCode(event, 'use')">Use Cases</button>
				</div>
				<!-- Tab content -->
				<div id="php" class="tabcontent php">
					<code>$url = 'https://race-prediction.herokuapp/api/race/{name}';
$request_url = $url;
$curl = curl_init($request_url);
curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
curl_setopt($curl, CURLOPT_HTTPHEADER, [
  'Content-Type: application/json'
]);
$response = curl_exec($curl);
curl_close($curl);
echo $response . PHP_EOL;</code>
				</div>
				<div id="python" class="tabcontent python">
					<code>
	import requests
	response = requests.get("https://race-prediction.herokuapp/api/race")
	print(response.json())
	print(response.status_code)
					</code>
				</div>
				<div id="node" class="tabcontent node">
					<code>const https = require('https');

https.get('https://race-prediction.herokuapp/api/race/{name}', (resp) => {
  let data = '';

  // A chunk of data has been received.
  resp.on('data', (chunk) => {
    data += chunk;
  });

  // The whole response has been received. Print out the result.
  resp.on('end', () => {
    console.log(JSON.parse(data).explanation);
  });

}).on("error", (err) => {
  console.log("Error: " + err.message);
});</code>
				</div>
				<div id="js" class="tabcontent js">
					<code>// Create a request variable and assign a new XMLHttpRequest object to it.
var request = new XMLHttpRequest()

// Open a new connection, using the GET request on the URL endpoint
request.open('GET', 'https://race-prediction.herokuapp/api/race/{name}', true)

request.onload = function () {
  var data = JSON.parse(this.response)

console.log(data)

}

// Send request
request.send()</code>
				</div>
				<div id="curl" class="tabcontent curl">
					<code>curl --request GET \
				--url 'https://race-prediction.herokuapp/api/race/{name}'
					</code>
				</div>
				<div id="ruby" class="tabcontent ruby">
					<code>require 'net/http'
require 'json'

url = 'https://race-prediction.herokuapp/api/race/{name}'
uri = URI(url)
response = Net::HTTP.get(uri)
JSON.parse(response)</code>
				</div>
				<div id="use" class="tabcontent use">
					<code>// Get predicted race for one name
get("https://race-prediction.herokuapp/api/race/{name}");</code>
				</div>
			</div>	
			
			<div class="align-c">
				<p2><b>Response samples</b></p2>
				<div class="tab" style="margin-top: 0px; text-align:left;">
					<button class="tablinks" onclick="openCode2(event, '200')" style="color:green" id="defaultOpen2">200</button>
					<button class="tablinks" onclick="openCode2(event, '204')" style="color:green">204</button>
					<button class="tablinks" onclick="openCode2(event, '405')" style="color:red">405</button>
					<button class="tablinks" onclick="openCode2(event, '500')" style="color:red">500</button>
				</div>
				<div id="200" class="tabcontent2 200">
					<div class="boxed3"><code>application/json</code></div><br></br>
					<code>{
	"get": "race",
	"parameters": [],
	"errors": {},
	"results": 1,
	"paging": {
	"current": 1,
	"total": 1
	},
	"response": [MELAYU, CINA, INDIA, LAIN-LAIN]
					</code>
				</div>
				<div id="204" class="tabcontent2 204">
					<div class="boxed3"><code>application/json</code></div><br></br>
						<code>{'message': 'empty message'};</code>
				</div>
				<div id="405" class="tabcontent2 405">
					<div class="boxed3"><code>application/json</code></div><br></br>
					<code>{'message': 'method not allowed'}</code>
				</div>
				<div id="500" class="tabcontent2 500">
					<div class="boxed3"><code>application/json</code></div><br></br>
					<code>{'message': 'INTERNAL SERVER ERROR'}</code>
				</div>
				
			</div>
		</div>
	</div>
	<script>
			function openCode2(evt, cityName) {
			  var i, tabcontent, tablinks;
			  tabcontent = document.getElementsByClassName("tabcontent2");
			  for (var i = 0; i < tabcontent.length; i++) {
				tabcontent[i].classList.remove('show');
			  }
			  tablinks = document.getElementsByClassName("tablinks2");
			  for (var i = 0; i < tablinks.length; i++) {
				tablinks[i].classList.remove('active');
			  }
			  document.getElementsByClassName(cityName)[0].classList.add('show');
			  document.getElementsByClassName(cityName)[1].classList.add('show');
			  var cuttentTabClass = evt.currentTarget.className.split(" ")[1];
			  console.log(cuttentTabClass);
			  document.getElementsByClassName(cuttentTabClass)[0].classList.add('active');
			  document.getElementsByClassName(cuttentTabClass)[1].classList.add('active');
			}
			
			function openCode(evt, cityName) {
				  var i, tabcontent, tablinks;
				  tabcontent = document.getElementsByClassName("tabcontent");
				  for (var i = 0; i < tabcontent.length; i++) {
					tabcontent[i].classList.remove('show');
				  }
				  tablinks = document.getElementsByClassName("tablinks");
				  for (var i = 0; i < tablinks.length; i++) {
					tablinks[i].classList.remove('active');
				  }
				  document.getElementsByClassName(cityName)[0].classList.add('show');
				  document.getElementsByClassName(cityName)[1].classList.add('show');
				  var cuttentTabClass = evt.currentTarget.className.split(" ")[1];
				  console.log(cuttentTabClass);
				  document.getElementsByClassName(cuttentTabClass)[0].classList.add('active');
				  document.getElementsByClassName(cuttentTabClass)[1].classList.add('active');
				}
				document.getElementById("defaultOpen").click();
			document.getElementById("defaultOpen2").click();
				
			</script>
  
  </body>
</html>